<div id="site-header">
    <div class="wrapper">
        <div class="header-flex">
            <div class="header-text">
                <h1>Compile time verification and generation</h1>
                <a class="header-button" href="#">Learn more</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo perspiciatis, perferendis neque quo nobis, veritatis nam, voluptates animi eligendi magni, vero! Inventore voluptas iste dolorem doloremque perferendis unde ipsum totam!</p>
            </div>
            <div class="header-image">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ad quas, obcaecati dolore veritatis nisi quidem! Eos laboriosam nisi, voluptate nostrum, cum repudiandae fugiat distinctio accusamus fugit exercitationem molestiae, quisquam.
                
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ad quas, obcaecati dolore veritatis nisi quidem! Eos laboriosam nisi, voluptate nostrum, cum repudiandae fugiat distinctio accusamus fugit exercitationem molestiae, quisquam.
                
            </div>
        </div>
    </div>
</div>