<nav id="site-nav">
    <div class="wrapper">
        <div class="nav-flex">
            <a class="nav-brand" href="#">
                <img src="../img/navbar-brand.svg" alt="">
                <span>nef</span>
            </a>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a class="active" href="#">Documentation</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">GitHub</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">License</a>
                </li>
            </ul>
        </div>
    </div>
</nav>