<nav id="site-nav">
    <div class="wrapper">
        <div class="nav-flex">
            <a class="nav-brand" href="{{ site.baseurl }}/">
                <img src="../img/nav-brand.svg" alt="">
                <span>{{ site.name }}</span>
            </a>
            <div class="nav-menu">
                <button class="button nav-icon-close">
                  <img src="../img/nav-icon-close.svg" alt="">
                </button>
                <ul>
                  {% for item in site.data.menu.nav%}
                  <li class="nav-menu-item">
                      <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
            </div>

            <button class="button nav-icon-open">
                <img src="../img/nav-icon-open.svg" alt="">
            </button>
        </div>
    </div>
</nav>
