## User files
**/.DS_Store
**/xcuserdata/
BowPlayground

## SPM
.build
Package.resolved
.swiftpm
bin-cli
swiftpm

## Jekyll
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

## Ruby environment normalization:
.bundle/
vendor/
/lib/bundler/man/
docs/docs/*
/docs/_data/sidebar.yml

## nef
/Documentation.app/nef
/Documentation.app/Contents/MacOS/Pods
/Documentation.app/Contents/MacOS/Podfile.lock
