## User files
**/.DS_Store
**/xcuserdata/
BowPlayground

## SPM
.build
Package.resolved
.swiftpm
bin-cli
swiftpm

## Jekyll
_site
.sass-cache
.jekyll-metadata

## Ruby environment normalization:
.bundle/
vendor/
/lib/bundler/man/
docs/docs/*
/docs/_data/sidebar.yml
