// Variables
// -----------------------------------------------
// -----------------------------------------------

// Google Fonts
// -----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Source+Code+Pro&display=optional');

// Colors
// -----------------------------------------------
$brand-primary: rgb(108, 11, 239);
$brand-secondary: rgb(57, 6, 125);
$brand-tertiary: rgb(251, 176, 64);
$gray-primary: darken($brand-secondary, 10%);
$white: rgb(255, 255, 255);
$link-color: darken($brand-primary, 10%);
$link-hover: darken($brand-primary, 15%);

// Typography
// -----------------------------------------------
$base-font-family: 'Montserrat', sans-serif;
$header-font-family: $base-font-family;
$code-font-family: 'Source Code Pro', monospace;
//-
$base-font-color: $gray-primary;
$header-font-color: $gray-primary;
//-
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
//-
$base-font-size: 14px;
$base-line-height: 1.6;
// Sizes
// -----------------------------------------------
$base-point-grid: 8px;
// Animation
// -----------------------------------------------
$base-duration: 250ms;
$base-timing: ease-in-out;

// Breakpoint
// -----------------------------------------------
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1140px;

// Grid
// -----------------------------------------------
$column-1: (1/12*100%);
$column-2: (2/12*100%);
$column-3: (3/12*100%);
$column-4: (4/12*100%);
$column-5: (5/12*100%);
$column-6: (6/12*100%);
$column-7: (7/12*100%);
$column-8: (8/12*100%);
$column-9: (9/12*100%);
$column-10: (10/12*100%);
$column-11: (11/12*100%);
$column-12: (12/12*100%);
$gutter-margin: ($base-point-grid * 4);




// Border
// -----------------------------------------------
$border-color: rgba($gray-primary, 0.1);
