// Features 
// -----------------------------------------------
// -----------------------------------------------

#site-main {
     padding: ($base-point-grid * 10) 0 ;
    .main-flex {
        display: flex;
        justify-content: space-between;
        .main-item {
            width: $column-4;
            box-sizing: border-box;
            text-align: center;
            
            &:not(:last-child){
                margin-right: $gutter-margin;
            }
            
            img {
                margin-bottom: ($base-point-grid * 2);
            }
            h2 {
                margin-bottom: $base-point-grid;
                font-size: 1.429rem;
            }
            p {}
        }
    }
}

// Responsive
// -----------------------------------------------
@include bp(medium) {}