// Sidebar
// -----------------------------------------------
// -----------------------------------------------

#site-sidebar {
    position: fixed;
    background: $brand-secondary;
    width: 250px;
    height: 100%;
    left: 0;
    z-index: 2;
    transition: left $base-duration $base-timing;

    &.toggled {
      left: -100%;
    }

    .sidebar-brand {
        height: 88px;
        padding: ($base-point-grid * 2);
        background: rgba($brand-primary, 0.30);
        display: flex;
        justify-content: space-between;

        a {
            display: flex;
            align-items: center;
            color: $white;

            &:visited,
            &:hover,
            &:active {
                color: $white;
                text-decoration: none;
            }

            img {
              height: 60px;
            }

            span {
                font-size: 2.143rem;
            }
        }
    }

    .sidebar-toggle {
      display: none;
    }

    .sidebar-menu {
        margin-top: ($base-point-grid * 2);

        .sidebar-menu-item {
            a {
                display: block;
                padding: ($base-point-grid * 2) ($base-point-grid * 3);
                color: $white;
                transition: background $base-duration $base-timing;

                &:visited {
                    color: $white;
                }

                &:hover {
                    background: rgba($brand-primary, 0.15);
                    color: $white;
                    text-decoration: none;
                }

                &:active {
                    color: $white;
                }
            }

            &.active {
                a {
                    padding-left: (($base-point-grid * 3) - 3);
                    background: rgba($brand-primary, 0.30);
                    border-left: 3px solid $brand-tertiary;
                    pointer-events: none;
                }

            }
        }
    }
}

// Responsive
// -----------------------------------------------
@include bp(medium) {

    #site-sidebar {
        left: -100%;
        width: 100%;

        &.toggled {
          left: 0;
        }

        .sidebar-toggle {
          padding: 24px 32px;
          display: block;
          opacity: 0.7;
          transition: opacity 0.3s ease, transform 0.3s ease;

          &:hover {
            opacity: 1;
            transform: rotate(-180deg);
          }
        }
    }
}
